body{
	margin:0px;
	padding:0px;
}

.container{
	width:100%;
	height:100vh;
}

.Slides{
	display:none;
}

/*Slide 1*/
.slide1{
    background-image: url('../Img/dakpark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	display:block;
}

.part-50{
	background-color:gray;
	/*height:10vh;*/
	width:50%;
	float:right;
}

.wrapper-right-score{
	height:100vh;
	background-color:rgba(200,200,200,0.75);
}

.body-score{
	width:100%;
	float:right;
	padding-bottom:30px;
}

.headtitle{
	color:#69942F;
	font-weight:700;
	font-family:"PT Sans";
	text-align:center;
	font-size:30pt;
}

.containernames{
	float:left;
	width:50%;
	padding-left:10%;
}

.containerscore{
	float:left;
	width:30%;
	padding-right:10%;
}

ul > li{
	list-style-type:none;
}

ol{
	padding:0px;
	list-style-type: none;
}

.listscore{
	list-style-type:none;
	text-align:center;
}

.paragraphscore, .container-scores{
	width:100%;
}

.listnames{
	padding:0px;
}

.ol-eternal-score{
	padding-left:0px;
}

.listscore, .listnames{
	width:50%;
	float:left;
}

.paragraph, .listscore, .listnames{
	font-family:"Roboto Slab";
	font-size:20pt;
	color:#543019;
	padding-bottom:10px;
}

.bold-highscore{
	font-weight:1000;
}

.paragraph-eternal-highscore{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
}

/*Slide 2*/
.slide2{
	/*background-color:yellow;*/
}

.part-70-slide2{
	float:right;
	width:70%;
	height:100%;
}

.paragraph-playrules{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
	margin-right:2%;
}

.body-playrules{
	background-color:rgba(200,200,200,0.75);
}

.part-30-slide2{
	width:30%;
	height:100%;
	background-image: url('../Img/train.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    float:left;
}

ol{
	margin-left:30px;
}

/*Slide 3*/
.slide3{
	background-color:rgba(200,200,200,0.75);
}

.slide3-body{
	width:100%;
	height:100%;
}

.image_slide3{
	width:200px;
	height:200px;
	border-radius:2px;
	border:3px solid rgb(200,200,200);
	margin-left:20px;
	margin-bottom:20px;
}

.paragraph-API{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
	margin-left:20px;
	margin-bottom:5px;
}

.slide4{
	background-color:rgba(200,200,200,0.75);
}


@media(max-width:640px){
	/*Slide 1*/
	.headtitle, .paragraph, .paragraph-eternal-highscore{
		font-size:1.4em !important;
	}

	.headtitle{
		margin-bottom:0px;
	}

	.body-score{
		padding-bottom:10px;
	}

	.paragraph{
		padding-bottom:5px;
	}

	/*Slide 2*/
	.paragraph-playrules{
		font-size:1em;
	}

	/*Slide 3*/
	.headtitle-slide3{
		margin-top:0px;
		padding-top:5px;
	}

	.image_slide3{
		width:100px;
		height:100px;
		border:2px solid rgb(200,200,200);
		margin-left:16px;
		margin-bottom:16px;
	}

	.tweet-style{
		margin-left:65px;
		margin-top:25px;
	}

	/*Slide 4*/
	.headtitle-slide4{
		margin-top:0px;
		padding-top:5px;
		padding-bottom:20px;
	}

	.paragraph-API{
		font-size:1em;
		margin-left: 20px;
		margin-top: 5px;
	}
}