body {
    width:          100vw;
    height:         100vh;
    margin:         0px;
    background-image:linear-gradient(-80deg, white 40%, grey 40%, lightgrey 40%);
    font-family:    "Segoe UI";
    overflow:       hidden;
}

map > img {
    width:          100vw;
    height:         auto;
    position:       relative;
    bottom:         0px;
    margin:         0px;
}

map {
    position:       fixed;
    bottom:         0px;
}

.text{
    margin-left:    7%;
}

#title{
    color:          black;
    font-weight:    bold;
    font-size:      40px;
    text-shadow:    4px 4px 10px grey;
    margin-bottom:  0%;
}

#subtitle{
    color:          Grey;
    Margin-top:     0.5%;
    font-weight:    normal;
}

#score{
    color:          black;
    font-weight:    bold;
}

#location{
    margin-bottom:     20%;
    position:       fixed;
    bottom:         0px;
}


Marker{
    animation:      colorChange 3s infinite;
    width:          2%;
    height:         auto;
    padding-top:    2%;
    border-radius:  50%;
    position:       absolute;
    top:            10px;
    left:           10px;
    margin:         0px;
}

@keyframes colorChange {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

#container {
    position:       relative;
    bottom:         0px;
    margin:         0px;
}