body {
    width: 100vw;
    height: 50vh;
    margin:0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
}

map > img {
    width: 100vw;
    height: auto;
    position:fixed;
    bottom:0px;
}

.title{
    color: black;
    Margin-left: 20px;
    font-weight: bold;
}

.subtitle{
    color: Grey;
    font-weight: normal;
}