body{
	margin:0px;
	padding:0px;
}

.container{
	width:100%;
	height:100vh;
}

.Slides{
	display:none;
}

/*Slide 1*/
.slide1{
    background-image: url('../img/dakpark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	display:block;
}

.part-50{
	background-color:gray;
	/*height:10vh;*/
	width:50%;
	float:right;
}

.wrapper-right-score{
	height:100vh;
	background-color:rgba(200,200,200,0.75);
}

.body-score{
	width:100%;
	float:right;
	padding-bottom:30px;
}

.headtitle{
	color:#69942F;
	font-weight:700;
	font-family:"PT Sans";
	text-align:center;
	font-size:30pt;
}

.containernames{
	float:left;
	width:50%;
	padding-left:10%;
}

.containerscore{
	float:left;
	width:30%;
	padding-right:10%;
}

ul > li{
	list-style-type:none;
}

ul{
	padding:0px;
}

.ol-eternal-score > li{
	list-style-type:none;

}

.ol-eternal-score{
	padding-left:0px;
}

.paragraph{
	font-family:"Roboto Slab";
	font-size:20pt;
	color:#543019;
	padding-bottom:10px;
}

.bold-highscore{
	font-weight:1000;
}

.paragraph-eternal-highscore{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
}

/*Slide 2*/
.slide2{
	/*background-color:yellow;*/
}

.part-70-slide2{
	float:right;
	width:70%;
	height:100%;
}

.paragraph-playrules{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
	margin-right:2%;
}

.body-playrules{
	background-color:rgba(200,200,200,0.75);
}

.part-30-slide2{
	width:30%;
	height:100%;
	background-image: url('../Img/train.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    float:left;
}

ol{
	margin-left:30px;
}

/*Slide 3*/
.slide3{
	background-color:red;
}

.slide3-body{
	width:100%;
	height:100%;
}

.image_slide3{
	width:200px;
	height:200px;
	border-radius:2px;
	border:3px solid rgb(200,200,200);
	margin-left:20px;
	margin-bottom:20px;
}

.headtitle-slide3{
	color:#69942F;
	font-weight:700;
	font-family:"PT Sans";
	text-align:center;
	font-size:30pt;
	padding-top:30pt;
	margin-top:0px;
}

.paragraph-API{
	font-family:"Roboto Slab";
	font-size:25pt;
	color:#543019;
	padding-bottom:10px;
	font-weight:1000;
	margin-left:20px;
	margin-bottom:5px;
}