body{
	margin:0px;
	padding:0px;
}

.container{
	width:100%;
	height:100vh;
}

.Slides{
	display:none;
}

.slide1{
	background-color:green;
	display:block;
}

.slide2{
	background-color:yellow;
}

.slide3{
	background-color:red;
}